<form id="entryForm" method="post" action="@Url.Action("AddEmployee", "Home")">
    <div>
        <span class="lbl">Name: </span><input id="name" type="text" />
    </div>
    <div>
        <span class="lbl">Gender: </span><input id="gender" type="text" />
    </div>
    <div>
        <span class="lbl">Salary: </span><input id="salary" type="number" />
    </div>
    <div>
        <span class="lbl">Rating: </span><input id="rating" type="number" />
    </div>
    <div>
        <span class="lbl">Department: </span><input id="department" type="text" />
    </div>
    <div>
        <input type="button" value="save" id="saveEmployee"/>
    </div>
</form>